<header xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                <strong>My Shop</strong>
            </a>

            <div sec:authorize="isAuthenticated()" class="align-items-right">
                <a th:href="@{/profile}" title="Ver perfil"><img th:src="@{/images/users/user-profile.png}" height="40px" width="40px"/></a>
                <a class="btn btn-outline-primary" th:href="@{/logout}">Cerrar sesión</a>
            </div>

            <div sec:authorize="!isAuthenticated()" class="align-items-right">
                <a class="btn btn-outline-primary" th:href="@{/login}">Iniciar sesión</a>
            </div>
        </div>
    </div>

    <div class="container" th:if="${(param.message != null) and (param.message[0] == 'logout')}">
        <br/><br/>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span>Sesión de usuario finalizada</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</header>