<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="myshop">
    <title th:text="${title}"></title>

    <link href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <link th:href="@{/css/sticky-footer.css}" rel="stylesheet"/>
    <link th:href="@{/css/signin.css}" rel="stylesheet"/>
    <link th:href="@{/css/form-validation.css}" rel="stylesheet"/>
    <link th:href="@{/css/product.css}" rel="stylesheet"/>
    <meta name="theme-color" content="#7952b3">
</head>
<body>
