<section class="py-5 text-center container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light" th:text="#{catalog}"></h1>
            <p class="lead text-muted" th:text="#{catalog-message}"></p>
            <p>
                <a href="#" class="btn btn-info my-2" th:text="#{last-units}"></a>
                <a th:href="@{/registration}" class="btn btn-primary my-2" th:text="#{create-account}"></a>
            </p>
        </div>
    </div>
</section>