<!doctype html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(title='My Shop - User Profile')"></head>
<body class="profile">
    <header th:replace="fragments/header"></header>

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <form method="POST" enctype="multipart/form-data" action="/user-image">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <label for="image-file">
                            <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        </label>
                        <input id="image-file" type="file" name="image" />
                        <input type="submit" value="Cambiar imagen" />
                        <br/>
                        <span class="font-weight-bold">Usuario</span><span class="text-black-50" th:text="${user.email}"></span><span> </span></div>
                </form>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Perfil de usuario</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Nombre</label><input type="text" class="form-control" th:value="${user.name}"></div>
                        <div class="col-md-6"><label class="labels">Apellidos</label><input type="text" class="form-control" th:value="${user.surname}"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" th:value="${user.email}"></div>
                        <div class="col-md-12"><label class="labels">Dirección</label><input type="text" class="form-control" th:value="${user.address}"></div>
                        <div class="col-md-12"><label class="labels">Código postal</label><input type="text" class="form-control" th:value="${user.postalCode}"></div>
                        <div class="col-md-12"><label class="labels">Localidad</label><input type="text" class="form-control" th:value="${user.city}"></div>
                        <div class="col-md-12"><label class="labels">Provincia</label><input type="text" class="form-control" th:value="${user.province}"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Country</label><input type="text" class="form-control" th:value="${user.country}"></div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="button">Guardar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <h4 class="text-right">Pedidos</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer"></footer>

</body>
</html>